<a href="https://colab.research.google.com/github/luizfgontijo/icd-project/blob/main/Trabalho_ICD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [24]:
url = 'https://github.com/luizfgontijo/icd-project/raw/main/dataset.csv'
df = pd.read_csv(url, delimiter=';').drop(columns='GEOMETRIA')
# print('Colunas: ', end="")
# print(df.columns, end='\n\n')
df.head()

,ID_AREAS_PRIORITARIAS_SBN_2022,AREA_M2,EXP_ALAG,EXP_DESL,EXP_INUN,EXP_ONDA,VUL_ALAG,VUL_DESL,VUL_INUN,VUL_ONDA,...,AC_DESL,AC_INUN,AC_ONDA,CON_AMB,CON_ANT,CON_TOT,SBN_ALAG,SBN_DESL,SBN_INUN,SBN_ONDA
0,1,113352.60,1.85,0.0,0.0,2.55,1.90,NaN,NaN,1.00,...,NaN,NaN,1.78,1.25,1.67,1.46,1.67,NaN,NaN,1.62
1,2,113353.50,1.80,0.0,0.0,2.40,1.85,NaN,NaN,1.80,...,NaN,NaN,2.10,1.25,0.00,0.63,1.23,NaN,NaN,1.37
2,3,113355.64,1.80,0.0,0.0,2.65,1.55,NaN,NaN,1.35,...,NaN,NaN,2.00,1.25,1.67,1.46,1.57,NaN,NaN,1.73
3,4,113345.26,1.70,0.0,0.0,2.65,1.65,NaN,NaN,1.00,...,NaN,NaN,1.83,1.25,1.67,1.46,1.57,NaN,NaN,1.65
4,5,113379.79,1.60,0.0,0.0,2.80,0.45,NaN,NaN,1.25,...,NaN,NaN,2.03,1.25,0.00,0.63,0.83,NaN,NaN,1.33

In [50]:
print("Tamanho do dataset: ", df.shape, end='\n\n')
print("Número de NaNs por coluna:\n", df.isna().sum())

df_copy = df.drop(columns=['VUL_DESL', 'VUL_INUN', 'AC_DESL', 'AC_INUN', 'SBN_DESL', 'SBN_INUN', 'VUL_ALAG'], axis=1)
print("\nNovo shape após remoção: ", df_copy.shape, end='\n\n')
print(df_copy.isna().sum())

Tamanho do dataset:  (3046, 21)

Número de NaNs por coluna:
 ID_AREAS_PRIORITARIAS_SBN_2022       0
AREA_M2                              0
EXP_ALAG                             0
EXP_DESL                             0
EXP_INUN                             0
EXP_ONDA                             0
VUL_ALAG                           651
VUL_DESL                          2287
VUL_INUN                          2509
VUL_ONDA                             0
AC_ALAG                              0
AC_DESL                           2287
AC_INUN                           2509
AC_ONDA                              0
CON_AMB                              0
CON_ANT                              0
CON_TOT                              0
SBN_ALAG                             0
SBN_DESL                          2287
SBN_INUN                          2509
SBN_ONDA                             0
dtype: int64

Novo shape após remoção:  (3046, 14)

ID_AREAS_PRIORITARIAS_SBN_2022    0
AREA_M2                           0
EXP_ALAG                          0
EXP_DESL                          0
EXP_INUN                          0
EXP_ONDA                          0
VUL_ONDA                          0
AC_ALAG                           0
AC_ONDA                           0
CON_AMB                           0
CON_ANT                           0
CON_TOT                           0
SBN_ALAG                          0
SBN_ONDA                          0
dtype: int64

In [51]:
print(df_copy.describe())

       ID_AREAS_PRIORITARIAS_SBN_2022        AREA_M2     EXP_ALAG  \
count                     3046.000000    3046.000000  3046.000000
mean                      1523.500000  113408.631382     0.912311
std                        879.448786     109.851311     0.649209
min                          1.000000  113143.730000     0.000000
25%                        762.250000  113328.247500     0.250000
50%                       1523.500000  113412.250000     1.050000
75%                       2284.750000  113502.870000     1.450000
max                       3046.000000  113613.740000     4.200000

          EXP_DESL     EXP_INUN     EXP_ONDA     VUL_ONDA      AC_ALAG  \
count  3046.000000  3046.000000  3046.000000  3046.000000  3046.000000
mean      0.421024     0.083198     2.915923     2.232912     1.404570
std       1.000620     0.309656     0.743572     1.073425     0.936464
min       0.000000     0.000000     0.250000     0.000000     0.000000
25%       0.000000     0.000000     2.450000     1.500000     0.607500
50%       0.000000     0.000000     3.050000     2.200000     1.550000
75%       0.000000     0.000000     3.500000     2.950000     2.130000
max       5.000000     3.800000     5.000000     5.000000     3.400000

           AC_ONDA      CON_AMB      CON_ANT      CON_TOT     SBN_ALAG  \
count  3046.000000  3046.000000  3046.000000  3046.000000  3046.000000
mean      2.588273     1.433848     0.895016     1.166891     1.212315
std       0.763351     1.017627     1.098212     0.804410     0.790767
min       0.130000     0.000000     0.000000     0.000000     0.000000
25%       2.030000     1.250000     0.000000     0.630000     0.682500
50%       2.720000     1.250000     0.000000     1.250000     1.350000
75%       3.150000     2.500000     1.670000     1.460000     1.780000
max       4.500000     5.000000     5.000000     4.380000     3.590000

          SBN_ONDA
count  3046.000000
mean      1.879334
std       0.639817
min       0.070000
25%       1.482500
50%       1.930000
75%       2.330000
max       3.970000